DATABASE_URL=postgresql://admin:cont123456@localhost:5432/contabilidad
SECRET_KEY=django-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
POSTGRES_HOST=localhost
POSTGRES_DB=contabilidad
POSTGRES_USER=admin
POSTGRES_PASSWORD=cont123456